.post {
  margin-bottom: 50px;
  width: 100%;
  &-footer {
    display: flex;
    padding: 10px;
    width: 100%;
  }
  &-header {
    &-paper {
    display: flex;
    align-items: center;
    height: 15px;
    padding: 12px 7px;
    }
  }
  &-image {
    width: 100%;
    object-fit: contain;
  }
}

.react-slideshow-fade-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 425px) {
  .post {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 425px;
    &-footer {
      padding: 10px 10px 10px 0px;
      max-width: 425px;
      margin-left: 8px;
    }
    &-header {
      max-width: 425px;
      &-paper {
        display: flex;
        align-items: center;
        height: 15px;
        padding: 17px 12px;
      }
    }
    &-image {
      width: 100%;
      object-fit: contain;
    }
  }
}